<div class="modal-header">
    <h3 class="modal-title modalFormHeadSection" id="modal-title">Confirm</h3>
</div>

<div class="modal-body" id="modal-body">
    <div class="row">

        <div class="col-sm-12 ">  
            All your filled details will be deleted, are you sure you want to continue?
        </div>
        <div class="mt10"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="deleteAllMedicationDetails(is_drug)">Confirm</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>

